.glossary-term {
    position: relative;
    cursor: help;
    text-decoration: underline;
    text-decoration-color: yellow; 
    color: inherit;
}

.glossary-term::after {
    content: attr(title);
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 10px 10px 20px #555, 
                -10px -10px 20px #555;
    background-color: rgba(255, 255, 255, 0.9); 
    white-space: nowrap;
    z-index: 1000;
}

.glossary-term:hover::after {
    display: block;
}
